.card {
    border: 1em;
    padding: 16px;
    border-color: none;
    box-shadow: none;
}

.column{
    width: 100%;
    float: left;
    padding: 10px 10px;	 
}

.column .img-size{
    width: auto;
    height: auto;
    max-width: 212px;
    max-height: 375px;
}